@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

*{
    margin: 8px;
    padding: 6px;
    
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://i.pinimg.com/originals/76/aa/24/76aa24bf1e433a13444c18c5df7b839b.gif);
}

#a{
    text-align: center;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 75%;
}